node_modules
.tw-patch

# Output
.output
.vercel
.content-collections
.idea
.svelte-kit
build
.parcel-cache

# OS
.DS_Store
Thumbs.db

# Env
.env
.env.*
!.env.example
!.env.test

# Vite
vite.config.js.timestamp-*
vite.config.ts.timestamp-*
# Devenv
.devenv*
devenv.local.nix

# direnv
.direnv

# pre-commit
.pre-commit-config.yaml
apps/static/labs/*
!apps/static/labs/.gitkeep
