body {
	margin: 0;
	padding: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	min-height: 100vh;
	background: #000;
	overflow: hidden;
}

#app {
	width: 800px;
	height: 600px;
}

canvas {
	display: block;
	margin: 0 auto;
}
