@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
        --background: 0 0% 100%;
        --foreground: 240 10% 3.9%;

        --primary: 240 5.9% 10%;
        --primary-foreground: 0 0% 98%;

        --secondary: 240 4.8% 95.9%;
        --secondary-foreground: 240 5.9% 10%;

        --accent: 240 4.8% 95.9%;
        --accent-foreground: 240 5.9% 10%;

        /* ur special color */
        --hover-color: lightseagreen;
        outline: none;
    }

    .dark {
        --background: 240 10% 3.9%;
        --foreground: 0 0% 98%;

        --primary: 0 0% 98%;
        --primary-foreground: 240 5.9% 10%;

        --secondary: 240 3.7% 15.9%;
        --secondary-foreground: 0 0% 98%;

        --accent: 240 3.7% 15.9%;
        --accent-foreground: 0 0% 98%;

        /* ur special color */
        --hover-color: greenyellow;
    }
}

/***********************
 * Main HTML Elements
 ***********************/
@layer base {
    * {
        @apply border-border;
        -webkit-tap-highlight-color: transparent;
    }

    body {
        @apply bg-background text-foreground;
    }
}

::selection {
    background-color: hsl(var(--primary) / 2);
    color: hsl(var(--primary-foreground));
}

::-webkit-scrollbar {
    width: 10px;
    height: 8px;
}

::-webkit-scrollbar-thumb {
    background: hsl(var(--accent-foreground) / 0.3);
}

::-webkit-scrollbar-thumb:hover {
    background: hsl(var(--accent-foreground) / 0.8);
    border-radius: 2px;
}

/***********************
 * Tailwind Typography
 ***********************/
.prose .anchor {
    @apply invisible absolute;
    margin-left: -0.8em;
    padding-right: 0.5em;
    width: 80%;
    max-width: 700px;
    cursor: pointer;
}

.anchor:hover {
    @apply visible no-underline;
}

.prose .anchor:after {
    @apply text-[#989898];
    content: '#';
    font-weight: 900;
}

.prose *:hover > .anchor {
    @apply visible no-underline;
}

/***********************
 * Custom Classes
 ***********************/
.select-none {
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.item-menu-hover {
    position: relative;
    text-decoration: none;
}

.item-menu-hover::after {
    content: '';
    position: absolute;
    width: 0;
    height: 2px;
    bottom: -2px;
    left: 0;
    background-color: lightseagreen;
    transition: width 0.3s ease-in-out;
}

.item-menu-hover:hover::after {
    width: 100%;
    transition: width 0.3s ease-in-out;
}

.bg-invert {
    background-color: black;
    color: white;
    background-blend-mode: difference;
    opacity: 0.5;
}
